:root {
  --light-color: #cbe896;
  --dark-color: #ff7f11;
}
* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 28px;
}
.gameContainer {
  background-color: var(--light-color);
  width: 100vw;
  height: 100vh;
  border: solid 7px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.canvas {
  background-color: var(--light-color);
  box-sizing: border-box;
  border: solid 7px var(--dark-color);
}

.track {
  background-color: white;
  width: 50%;
}

.input {
  padding: 10px;
  width: 25%;
}
